.page-contact-container {
    width: 100vw;
    height: 100vh;
    background-color: white;
  }
  
  .content-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 160px;
    background-color: white;
  }
  
  .content-container > h2 {
    font-size: 2rem;    
    margin-bottom: 20px;
  } 

  .main-container {
    width: calc(100% - 60px);
    max-width: calc(100% - 60px);
    margin: 0 30px;
  }
  
  .chart {
    width: 100%;
  }

  .button-more {
    width: 100%;
    display: flex;
    justify-content: right;
    padding-right: 80px;
    margin-bottom: 100px;
  }

  .filled-button {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 600;
  border: none;
  color: white;
  background-color: #147487;
  border-radius: 10px 10px;
  font-size: 1rem;
  cursor: pointer;
}

.filled-button:hover {
  background-color: #007b9a;
}